.App {
    text-align: center;
}


.Header {
    width: fit-content; 
    font-size: 20px;
    margin: auto;

}
.display {
    width: fit-content;
    height: fit-content;
    align-items: left;
    display: flex;
}
.episodeList {
    display: block;
    margin: auto;
    font-size: 20px;
    width: 600px;
}
.EpisodeTitle {
    width: 500px;
    height: 100px;
}
.EpisodeDescription {
    width: 00px;
}
ul {
    list-style-type: none;
}




